/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
/*стили для станицы*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--themes-background);
  background-image: var(--bg-image);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: var(--main-font);
}
@media (width >375px) {
  .page {
    margin-left: auto;
    margin-right: auto;
    max-width: 696px;
  }
}
.header {
  margin-top: 100px;
  margin-bottom: 104px;
}
/*осовной заголовок*/
.theme-menu {
  display: grid;
  background-color: var(--themes-background);
  padding-left: 2px;
  padding-right: 2px;
  min-height: 328px;
  align-content: center;
  gap: 20px;
  border: 2px solid var(--text-color);
}
@media (width >375px) {
  .theme-menu {
    margin-left: auto;
    margin-right: auto;
    max-width: 696px;
  }
}
/*стили для меню*/
.theme-menu__list {
  display: grid;
  gap: 14px;
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  color: var(--text-color);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  justify-self: center;
  padding-left: 20px;
}
@media (width >375px) {
  .theme-menu__list {
    padding-bottom: 25px;
  }
}
.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  position: relative;
  outline: 0;
}
/*стили для состояний кнопок*/

/*фокус*/
.theme-menu__button::after {
  content: "";
  border-bottom: 2px solid var(--text-color);
  opacity: 0.6;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transform: scaleX(0);
  outline: 0;
  transition: transform 0.3s;
  transform-origin: 0% 0%;
}
.theme-menu__button:focus-visible {
  opacity: 0.6;
}
.theme-menu__button:focus-visible:after {
  transform: scaleX(1);
}
/*активный элемент*/
.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: default;
}
.theme-menu__button:before {
  pointer-events: none;
  display: none;
  content: "▶";
  width: 14px;
  height: 14px;
  left: -15px;
  position: absolute;
}
.theme-menu__button:disabled:before {
  display: block;
  animation-name: cursor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.theme-menu__button:disabled:hover {
  cursor: default;
}
/*заголовок*/
.header_title {
  font-family: var(--accent-font);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  color: var(--text-color);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  justify-self: center;
  padding-top: 100px;
}
@media (width >375px) {
  .header_title {
    padding-top: 136px;
  }
}
/*подзаголовок*/
.sub_title {
  color: var(--text-color);
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  justify-self: center;
}
/*основное*/
.main-list {
  display: grid;
  color: var(--text-color);
  gap: 53px;
  margin-bottom: 50px;
}

.main-list-item {
  display: grid;
  background-color: var(--themes-background);
  border: 2px solid var(--text-color);
}
/*статья*/
.list-item-parag {
  display: grid;
  gap: 27px;
}
@media (width >375px) {
  .list-item-parag {
    gap:35px;
  }
  
}
/*заголовок статьи*/
.title-parag {
  font-family: var(--main-font);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: normal;
  padding-left: 10px;
  padding-right: 10px;
  font-variation-settings: "wght" var(--wgt-titel);
  border-block-end: 2px solid var(--text-color);
}
/*картинка*/
.card_label {
  position: relative;
}
@media (width >375px) {
  .card_label {
    display: grid;
    justify-items: stretch;
  }
}
/*надпись*/
.label {
  position: absolute;
  top: 30px;
  right: 11px;
  font-family: var(--accent-font);
  color: var(--text-color);
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--stroke-color);
}
@supports ((text-stroke: 1px var(--stroke-color)) or (-webkit-text-stroke: 1px var(--stroke-color))) {
  .label {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
  }
}
@media (width >375px) {
  .label {
    top: 30px;
    right: 25px;
  }
}
/*img*/
.card {
  width: 100%;
  border-block-end: 2px solid var(--text-color, #000);
}
/*фильтры*/
.image-1 {
  filter: contrast(20%);
}
.image-2 {
  filter: brightness(200%);
}
.image-3 {
  filter: blur(0.2rem);
}
.image-4 {
  filter: opacity(0.5);
}
.image-5 {
  filter: grayscale(0.8);
}
.image-6 {
  filter: saturate(15%);
}
.image-7 {
  filter: hue-rotate(93deg);
}
.image-8 {
  filter: brightness(200%) invert(0.7);
}
/*стили для текста*/
.parag {
  display: grid;
  padding-left: 25px;
  padding-right: 25px;
  gap:27px;
}
.text-parag {
  display: grid;
  font-family: var(--main-font);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-variation-settings: "wght" var(--wgt-text);
  line-height: 21px;
}
/* кнопка с сердцем*/
.heart_box {
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 20px;
  padding-bottom: 22px;
  margin-right: 25px;
  justify-content: end;
  align-items: center;
}
/*кнопка сердце*/
.card__icon-button {
  background-color: var(--themes-background);
  transition: border 3s ease;
  border: 2px solid transparent;
  cursor: pointer;
  padding: -2px;
}
/*состояние кнопки*/
.card__icon-button:focus {
  border: 2px solid transparent;
  outline: none;
}
.card__icon-button:focus-visible {
  border: 2px solid var(--text-color);
  outline: none;
}
/*сердце*/
.main-body {
  fill: transparent;
  transition: fill 0.3s ease;
}
.core {
  fill: transparent;
  transition: fill 0.3s ease;
}
.sparks {
  opacity: 0;
}

/*кнопка like*/
.card__like-button {
  position: relative;
  justify-self: end;
  background-color: var(--themes-background);
  border: 2px solid var(--text-color);
  cursor: pointer;
  min-height: 36px;
  min-width: 130px;
}
.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--text-color);
}
/*текст для like*/
.button__text {
  mix-blend-mode: difference;
  color: var(--heart-button-text-color);
  position: relative;
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  z-index: 2;
}
/*подвал*/
.footer {
  display: grid;
  grid-template-rows: auto auto;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 102px;
}
/*стили для дискеты*/
.floppy {
  width: 28px;
  height: 28px;
  color: var(--floppy-color);
  mix-blend-mode: difference;
  margin-top: 15px;
  z-index: 2;
}
@media (width >375px) {
  .floppy {
    width: 21px;
    height: 21px;
    margin: 0;
  }
}
/*кнопка сохранить*/
.save {
  position: relative;
  display: grid;
  justify-items: center;
  gap: 8px;
  background-color: var(--themes-background);
  border: 2px solid var(--text-color);
  cursor: pointer;
}
@media (width >375px) {
  .save {
    grid-auto-flow: column;
    justify-content: center;
    padding: 15px 20px;
    justify-self: center;
    align-items: center;
  }
}
/*состояния для кнопки*/
.save:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--text-color);
}
.save::after {
  content: "";
  background-color: var(--text-color);
  transition: transform 0.5s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  z-index: 1;
}
.save:hover:after {
  transform: scaleX(1);
}
/*текст кнопки*/
.save-text {
  color: var(--heart-button-text-color);
  mix-blend-mode: difference;
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  margin-bottom: 15px;
  z-index: 2;
}
@media (width >375px) {
  .save-text {
    margin: 0;
  }
}
/*диалог окно*/
.dialog {
  padding: 0;
  margin-left: 17px;
  margin-right: 17px;
  max-width: 357px;
  border: none;
}
@media (width >375px) {
  .dialog {
    margin: auto;
  }
}
/*оверлей*/
.dialog::backdrop {
  opacity: 0.75;
  background-color: var(--text-color, #000);
}
/*стили для всплывающего окна*/
.dialog-content {
  display: grid;
  background-color: var(--themes-background);
  grid-template-columns: auto 1fr;
  border: 2px solid var(--text-color);
  padding: 30px 40px;
  row-gap: 30px;
  column-gap: 20px;
}
@media (width >375px) {
  .dialog-content {
    padding: 30px 30px;
  }
}
/*дискета в окне*/
.floppy-dialog {
  width: 38px;
  height: 38px;
  align-self: center;
  color: var(--text-color);
}
/*стили для текста в окне*/
.text-dialog {
  font-family: var(--accent-font);
  color: var(--text-color);
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
}
/*кнопка ок*/
.close {
  position: relative;
  display: grid;
  background-color: var(--themes-background);
  grid-column: span 2;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  padding: 9px 17px;
  cursor: pointer;
}
/*текст кнопки*/
.text-close {
  color: var(--heart-button-text-color);
  mix-blend-mode: difference;
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  z-index: 2;
}
/*состояния кнопки*/
.close::after {
  content: "";
  background-color: var(--text-color);
  transition: transform 0.5s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  z-index: 1;
}
.close:hover:after {
  transform: scaleX(1);
}
.close:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--text-color);
}
