/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter", Akshar, sans-serif;
  --accent-font: "PressStart2P-Regular";
  --themes-background: #fff;
  --text-color: #000;
  --bg-image: repeating-linear-gradient(to left, #d3d3d3, rgb(211 211 211 / 0) 2px),
    repeating-linear-gradient(to top, #d3d3d3, rgb(211 211 211 / 0) 2px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --stroke-color: var(--themes-background);
  --heart-button-text-color: var(--themes-background);
  --contour-color: var(--text-color);
  --sparks-color: #FF0000;
  --core-color: var(--text-color);
  --wgt-titel:700;
  --wgt-text:400;
}
